@import '../styles/_variables';

.App {
  font-family: $Muli;
  display: flex;
  overflow-x: hidden;

  &__screen {
    flex: 1;
    height: 100%;
    padding-left: 50px;
    color: #010a60;

    & > div {
      width: 980px;
      & > * {opacity: 0; animation: fadeIn .3s .1s forwards ease-out}
    }
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}